#newsContainer {
    width: 80svw;
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    padding-block: 120px;
}
#newsContainer .news {
    background-color: var(--dark-bg);
    padding: 10px;
    border-radius: 10px;
    font-size: 0.8em;
}

#newsContainer .news h3 {
    font-size: 0.8rem;
    color: gray;
    margin-bottom: 3px;
}
#newsContainer .news p {
    margin-block: 3px;
}