#topBar {
    display: flex;
    padding: 20px;
}

#topBar .logo {
    width: 100px;
}
#topBar .userContainer {
    margin-left: auto;
    display: flex;
    align-items: center;
    gap: 5px;
    height: min-content;
}

#avatarContainer {
    width: 35px;
    aspect-ratio: 1;
    background-size: cover;
    border-radius: 25px;
    overflow: hidden;
    z-index: 10;
}
#avatarContainer div {
    background-color: rgba(0, 0, 0, 0.2);
    opacity: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#avatarContainer:hover div {
    opacity: 1;
}

#updateAvailableContainer {
    position: fixed;
    top: 10px;
    width: 100svw;
    display: flex;
    align-items: center;
    justify-content: center;
    visibility: hidden;
}
#updateAvailableContainer .content {
    width: 350px;
    margin: 10px;
    border-radius: 10px;
    background-color: var(--dark-bg);
    text-align: center;
    padding: 10px;
    position: relative;
    animation: updateGlow 5s ease infinite;
}
@keyframes updateGlow {
    0% {
        box-shadow: 0 0 5px 1px var(--accent2);
    }
    50% {
        box-shadow: 0 0 5px 1px var(--accent-alt1);
    }
    100% {
        box-shadow: 0 0 5px 1px var(--accent2);
    }
}